@use 'base/variables' as v;
@use 'base/mixins' as m;

.text-center{
    text-align: center;
}

.bg-primario{
    background-color: v.$primario;
}

.margin-negativo-10{
    margin-top: -10rem;
}

.padding-bottom-0{
    padding-bottom: 0;
}

.bg-white{
    background-color: v.$blanco;
}

